<!DOCTYPE html>
<html lang="PT">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-UA-compatible" content="IE-edge">
        <title>Sobre</title>
        <meta name="author" content="André Ferreira e Rafael Henriques">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/costum.css">
        <link href="css/fontawesome/css/all.css" rel="stylesheet">
    
    </head>

<body>

<h1>Teste Rafael Henriques</h1>

</body>

</html>